<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
    </style>
    {%include 'bootstrap.html'%}
</head>
<body>

    <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                  <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                  <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                
                  <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                      <form name="signup_form" method='POST'>
                        <p class="text-center lead" style="font-size: 32px;">Create a new Account</p>
                <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" name="firstname" id="form3Example1" class="form-control" />
                              <label name="firstname" class="form-label" for="form3Example1">First name</label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" name="lastname" id="form3Example2" class="form-control" />
                              <label name="lastname" class="form-label" for="form3Example2">Last name</label>
                            </div>
                          </div>
                        </div>
                
                      
                        <div class="form-outline mb-4">
                          <input type="email" name="email" id="form3Example3" class="form-control" />
                          <label name="email" class="form-label" for="form3Example3">Email address</label>
                        </div>
                
                        
                        <div class="form-outline mb-4">
                          <input type="password" name="password"  id="form3Example4" class="form-control" />
                          <label name="password" class="form-label" for="form3Example4">Password</label>
                        </div>
                
                        <div class="form-check d-flex justify-content-center mb-4">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                          <label class="form-check-label" for="form2Example33">
                            Accept our mails and stay updated...
                          </label>
                        </div>
                
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                          Sign up
                        </button>
                        {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                {% endif %}
                
                        <div class="text-center">
                          <p>or sign-up with:</p>
                          <div class="mt-4">
                            <div class="row">
                                <div class="col-sm-6" id="non">
                               <a id="non" href="#">Google</a>
                               </div>
                               <div class="col-sm-6 mb-4" id="non">
                               <a class="text-center" id="non" href="#">Twitter</a></div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </body>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                </section>